.display-comp{
    background-color: #848593;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}
.result{
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: right;
}